<li class="list-group-item">

  <h3>Study Resources and actions</h3>
  <h4>Store instances :
    <input type="text" class="form-control" [(ngModel)]="studies"></h4>
  <button class="btn btn-success"(click)="onAction1()">Next</button>

  <h4>Query for matching studies:
    <input type="text" class="form-control" [(ngModel)]="studiesMatch"></h4>
  <button class="btn btn-success"(click)="onAction2()">Next</button>

  <h4>Retrieve entire study :
    <input type="text" class="form-control" [(ngModel)]="studyUID"></h4>
  <button class="btn btn-success"(click)="onAction3()">Next</button>

  <h4>Store instances :
    <input type="text" class="form-control" [(ngModel)]="studyUID"></h4>
  <button class="btn btn-success"(click)="onAction4()">Next</button>

  <h4>Retrieve metadata :
    <input type="text" class="form-control" [(ngModel)]="metadata"></h4>
  <button class="btn btn-success"(click)="onAction5()">Next</button>

  <h4>Query for matching series in a study :
    <input type="text" class="form-control" [(ngModel)]="series"></h4>
  <button class="btn btn-success"(click)="onAction6()">Next</button>

  <h4>Retrieve entire series :
    <input type="text" class="form-control" [(ngModel)]="seriesUID"></h4>
  <button class="btn btn-success"(click)="onAction7()">Next</button>

  <h4>Retrieve series metadata :
    <input type="text" class="form-control" [(ngModel)]="metadata"></h4>
  <button class="btn btn-success"(click)="onAction8()">Next</button>

  <h4>Query for matching instances in a series :
    <input type="text" class="form-control" [(ngModel)]="instancesMatch"></h4>
  <button class="btn btn-success"(click)="onAction9()">Next</button>

  <h4>Retrieve instance:
    <input type="text" class="form-control" [(ngModel)]="instanceUID"></h4>
  <button class="btn btn-success"(click)="onAction10()">Next</button>

  <h4>Retrieve instance metadata :
    <input type="text" class="form-control" [(ngModel)]="metadata"></h4>
  <button class="btn btn-success"(click)="onAction11()">Next</button>

  <h4>Retrieve frames in an instance :
    <input type="text" class="form-control" [(ngModel)]="frames"></h4>
  <button class="btn btn-success"(click)="onAction12()">Next</button>

  <h4>Retrieve bulk data :
    <input type="text" class="form-control" [(ngModel)]="bulkDataRef"></h4>
  <button class="btn btn-success"(click)="onAction13()">Next</button>



</li>
