<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="auth">Sign in</a></li>
        <li routerLinkActive="active"><a routerLink="query">Query/Retrieve</a></li>
        <!--
        <li routerLinkActive="active"><a routerLink="patients">Patients</a></li>
        <li routerLinkActive="active"><a routerLink="edit">Edit</a></li>
        -->
        <li routerLinkActive="active"><a routerLink="echo">C-Echo</a></li>
        <li routerLinkActive="active"><a routerLink="response">Previous requests</a></li>
        <!--
         <li routerLinkActive="active"><a routerLink="users">Users</a></li>
        -->

      </ul>
      <div class="navbar-right">
        <p>Vous êtes connectés depuis {{secondes}} secondes</p>
      </div>
    </div>
  </div>
</nav>

<div style="text-align:center" >
  <h1>
     {{ title }}
  </h1>
  <!--
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  -->
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
